VITE_SHIELDED_TRANSFERS_ENVIRONMENT=megaeth-mainnet
VITE_MEGAETH_CHAIN_ID=4326
VITE_MEGAETH_RPC_URL=https://mainnet.megaeth.com/rpc
VITE_SHIELDED_POOL_ADDRESS=0x08bA57aA9Bc13Ccaf0dda0Fb7Cd7A2570b0FE4d8
VITE_SHIELDED_POOL_DEPLOYMENT_BLOCK=0x10152dd
VITE_MERKLE_TREE_DEPTH=20
VITE_WITHDRAW_VERIFIER_ADDRESS=0x608631548f3ab9da82B5C9a2c4Fb3d76Ef8beE92
VITE_WITHDRAW_VERIFIER_BYTECODE_HASH=0x613190065f23e69c6dcd8d75796b8aa20c060a5f51b312cf82c11424443bfdca
VITE_PROVER_MANIFEST_URL=/proving/withdraw-artifacts.manifest.json
VITE_RELAYER_ENDPOINT=https://relayer.nullark.com/transaction
VITE_NULLARK_MAINNET_VALUE_MOVING_APPROVED=true
VITE_NULLARK_MAINNET_VALUE_MOVING_APPROVAL_ARTIFACT_HASH=0xb87aa47a407f0347a920fcebe76f84d402be8bd5e82f5fe5980ffea557bfa996
VITE_NULLARK_MAINNET_GUARDED_USERS_APPROVED=true
VITE_NULLARK_MAINNET_GUARDED_USERS_APPROVAL_ARTIFACT_HASH=0xb87aa47a407f0347a920fcebe76f84d402be8bd5e82f5fe5980ffea557bfa996
VITE_NULLARK_PRODUCTION_PRIVACY_CLAIMS_APPROVED=false
