VITE_SHIELDED_TRANSFERS_ENVIRONMENT=megaeth-mainnet
VITE_MEGAETH_CHAIN_ID=4326
VITE_MEGAETH_RPC_URL=https://mainnet.megaeth.com/rpc
VITE_SHIELDED_POOL_ADDRESS=0xFa49572C8bdd03C3DB4caA6bafD73a4BA92F5F15
VITE_SHIELDED_POOL_DEPLOYMENT_BLOCK=0xf98a11
VITE_MERKLE_TREE_DEPTH=20
VITE_WITHDRAW_VERIFIER_ADDRESS=0x9023FAfB13320D4A34AAD6C25E0411862b0E3397
VITE_WITHDRAW_VERIFIER_BYTECODE_HASH=0x9a20d11112ee8b3c57677de4ba84eccf3928cb8aec734a21a1df5770086ad4f6
VITE_PROVER_MANIFEST_URL=/proving/withdraw-artifacts.manifest.json
VITE_RELAYER_ENDPOINT=https://relayer.nullark.com/transaction
VITE_NULLARK_MAINNET_VALUE_MOVING_APPROVED=false
VITE_NULLARK_MAINNET_GUARDED_USERS_APPROVED=false
VITE_NULLARK_PRODUCTION_PRIVACY_CLAIMS_APPROVED=false
